body,
html {
  height : 100%;
  width : 100%;
  overflow: hidden;
}
.svg path{
  transition: all 300ms;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  &.bedTime{     background-image: url('http://lorempixel.com/1920/1080/nightlife') }
  &.workTime{    background-image: url('http://placeimg.com/1920/1080/tech') }
  &.sportTime{   background-image: url('http://lorempixel.com/1920/1080/sports/') }
  &.cookingTime{ background-image: url('http://lorempixel.com/1920/1080/food/') }
  &.eveningTime{ background-image: url('http://placeimg.com/1920/1080/nature') }

  &:before{
    z-index: -1;
    @extend %overlay;
  }
}

* {
  box-sizing : border-box;
}

main {
  width : 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.container {
  display  : flex;
  position : relative;
  width    : 100%;

  .content {
    width     : 100%;
    max-width : $maxwidth-global;
    margin    : 0 auto;
    padding   : 0 $gap-global;
  }
}

.list {
  &.list--nostyle {
    padding    : 0;
    list-style : none;
  }

  &.list--inline {
    position : relative;
    padding  : 0;

    .item {
      display     : inline-block;
      position    : relative;
      margin-left : 30px;
    }
  }
}

@include media('mobile') {
  .container {
    .content {
      padding   : 0 $gap-global-mobile;
      max-width : none;
    }
  }
}