body {
  font-family : $ff-body;
  font-size   : $fz-body;
  font-weight : normal;
}

a {
  color           : black;
  text-decoration : none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  // font-family : $ff-title;
}
