
.hide{
  display: none !important;
  @each $media in $list-medias{
    @include media($media){
      &_#{$media} {
        display : none !important;
      }
    }
  }
}
// .hide_large-desktop
// .hide_desktop
// .hide_tablet
// .hide_only-tablet
// .hide_mobile
// .hide_landscape
// .hide_print
.invisible {
  opacity : 0;
  @each $media in $list-medias{
    @include media($media){
      &_#{$media} {
        opacity : 0;
      }
    }
  }
}
// .invisible_large-desktop
// .invisible_desktop
// .invisible_tablet
// .invisible_only-tablet
// .invisible_mobile
// .invisible_landscape
// .invisible_print
.full {
  &.container {
    max-width : none;

    >.content {
      margin-left : -$gap-global;
    }
  }
}

.ff-title{
  font-family: $ff-title;
  font-weight: bold;
  @include font-size(24px);
}

.bg-lines{
  background-image: url($pathIMG + "svg/bg-lines.svg");
  background-position-y: 17px;
  width: calc(100% + 21px);
  padding-right: 20px;
  padding-bottom: 24px;
}

.w-100{
  width: 100%;
}

@include media('tablet') {
  .full.container > .content {
    margin-left : -$gap-global-mobile;
  }
}

