const path = require('path');

// Variables a changer:      
const 
      // source
      source               = '/src',
        // source - folder
      source_style_folder  = '/scss',
      source_script_folder = '/js',
        // source - file
      source_script_file   = "/app.js",
      source_style_file    = "/main.scss",
      //dest
      dist                 = '/dist',
        // destination - file
      dist_script_file     = "bundle.js",
      dist_style_file      = "bundle.css",
      purify_html_file     = "*.html";

const rootPath     = path.resolve(__dirname),
      srcPath      = rootPath + source,
      srcPath_JS   = srcPath + source_script_folder,
      srcPath_SCSS = srcPath + source_style_folder,
      srcMain_JS   = srcPath_JS   + source_script_file,
      srcMain_SCSS = srcPath_SCSS + source_style_file,
      distPath     = rootPath + dist;
      
module.exports = {
  rootPath:      rootPath,
  // SOURCE
  srcPath:       srcPath,
  srcPath_JS:    srcPath_JS,
  srcPath_SCSS:  srcPath_SCSS,

  srcMain_JS:    srcMain_JS,
  srcMain_SCSS:  srcMain_SCSS,
  // DESTINATION
  distPath:      distPath,
  bundle_JS:     dist_script_file,
  bundle_CSS:    dist_style_file,
  
  purify:        {
    testFile:    rootPath + purify_html_file
  }
}

