<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{% block description %}{{currentPage.description}}{% endblock %}">
  <title>{% block title %}{{currentPage.title}}{% endblock %}</title>

  <link rel="stylesheet" href="dist/bundle.css">
  {% block style %}{% endblock %}
</head>

<body class="{% block bodyClass %}{{currentPage.journee}}{% endblock %}">
  {% block header %}{% endblock %}

  <!-- MAIN CONTENT -->
  <main role="main">
    {% include './_elements/date.twig' %}
    {% block body %}{% endblock %}
  </main>

</body>

<!-- Scripts -->
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="dist/bundle.js"></script>

{% block script %} {% endblock %}

</html>