/** Import variables & minxins */
@import "helpers/variables";
@import "helpers/mixins";

// MEDIAS ORDER (c'est pour que webpack compile bien dans l'ordre)
@include media('large-desktop')  {.fixWebpackSortMediaQuery{display: none;}} @include media('desktop')        {.fixWebpackSortMediaQuery{display: none;}} @include media('tablet')         {.fixWebpackSortMediaQuery{display: none;}} @include media('only-tablet')    {.fixWebpackSortMediaQuery{display: none;}} @include media('mobile')         {.fixWebpackSortMediaQuery{display: none;}} @include media('landscape')      {.fixWebpackSortMediaQuery{display: none;}} @include media('print')          {.fixWebpackSortMediaQuery{display: none;}}

/** Import les librairies */

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~normalize.css";

/** Import Google Font */
// VOIR : https://fonts.google.com/

//Common
@import "common/global";
@import "common/typography";
@import "common/icons";

//Helpers
@import "helpers/classes";
@import "helpers/extends";

//Components
@import "components/buttons";
@import "components/cards";
@import "components/date";

//Layouts
@import "layouts/headers";
@import "layouts/navbars";
@import "layouts/footers";
@import "layouts/forms";

//Pages
.homepage { // <body class="homepage">
  @import "pages/homepage";
}